body {
	/* margin:auto; */
	/* padding:0; */
	font-family:sans-serif;
	background:url(show.jpg);
	background-size: A4; /* cover */
}
@font-face {
	font-family: BadlyStamped;
	src: url('BadlyStamped.ttf');
}
h3 {
	color:red;
	font-family:Bookman,BadlyStamped, Times, serif;
	font-size:2em;
	border:5px;
	background-color:silver;
	padding:20px;
	text-align:center;
	border-radius:12px;
}
.button {
	background-color: #2CDDEE; /* Blue */
  border: 1px solid #f44336; /* Red */
  font-size: 20px;
  border-radius: 4px;
  width: 180px;
  height: 30px;
  Font-Family: Boolkman;
}
.button:hover {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #4CAF50; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.buttun {
	background-color: #FF0000; /* Blue */
  border: 1px solid #4D4D4D; /* Red */
  font-size: 20px;
  border-radius: 4px;
  width: 120px;
  height:30px;
  Font-Family:Boolkman;
}
.buttun:hover {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #A52A2A; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.box {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);//important
	width:400px;
	padding:40px;
	background:rgba(0,0,0,0.8);
	box-sizing:border-box;
	box-shadow:0 15px 25px rgba(0,0,0,0.5);
	border-radius:10px;
}
.box h2 {
	margin:0 0 30px;
	color:white;
	padding:0;
	text-align:center;
}
.box .inputbox {
	position:relative;
}
.agirn input {
	width:60%;
	padding:5px 0;
	font-size:16px;
	color:indigo;
	letter-spacing:1px;
	margin-bottom:30px;
	border:none;
	border-bottom:1px solid #228b22;
	outline:none;
	background:transparent;
}
.box .inputbox label {
	position:absolute;
	top:0;
	left:0;
	letter-spacing:1px;
	padding:10px 0;
	font-size:16px;
	color:#fff;
	pointer-events:none;
	transition: 0.5s;
}
.box .inputbox input:focus ~ label, .box .inputbox input:valid ~ label {
	top: -18px;
	left:0;
	color:#03a9f4;
	font-size:12px;
}
.me input {
	width:100px;
	padding:5px 5px;
	font-size:16px;
	color:indigo;
	letter-spacing:1px;
	margin-bottom:30px;

	border:none;
	border-bottom:1px solid #228b22;
	border-left:1px solid #228b22;
	outline:none;
	background:transparent;
}
.me_ input {
	width:100px;
	padding:5px 5px;
	font-size:16px;
	color:indigo;
	letter-spacing:1px;
	margin-bottom:30px;

	border:none;
	border-bottom:1px solid #228b22;
	border-right:1px solid #228b22;
	outline:none;
	background:transparent;
}
.agirnbutton input[type="text"] {
	background:transparent;
	border:none;
	outline:none;
	color:#fff;
	background:#03a9f4;
	padding:10px 20px;
	cursor:pointer;
	border-radius:5px;
}
.show {
	padding:10px;
	color:#af4f4f;
	position:absolute;

	left:30%;
	box-sizing:border-box;
	box-shadow:0 15px 25px rgba(0,0,0,0.5);
	border-radius:10px;
}
